*.o
*.lo
*.la
libmary/INSTALL
libmary/Makefile
libmary/Makefile.in
libmary/aclocal.m4
libmary/autom4te.cache/
libmary/compile
libmary/config.guess
libmary/config.log
libmary/config.status
libmary/config.sub
libmary/configure
libmary/depcomp
libmary/install-sh
libmary/libmary-1.0.pc
libmary/libmary/.deps/
libmary/libmary/.libs/
libmary/libmary/Makefile
libmary/libmary/Makefile.in
libmary/libmary/connection_receiver.h
libmary/libmary/libmary_config.h
libmary/libmary/native_async_file.h
libmary/libmary/native_file.h
libmary/libmary/stamp-h2
libmary/libmary/tcp_connection.h
libmary/libmary/tcp_server.h
libmary/libtool
libmary/local_config.h
libmary/local_config.h.in
libmary/local_config.h.in~
libmary/ltmain.sh
libmary/missing
libmary/stamp-h1
mconfig/INSTALL
mconfig/Makefile
mconfig/Makefile.in
mconfig/aclocal.m4
mconfig/autom4te.cache/
mconfig/compile
mconfig/config.guess
mconfig/config.log
mconfig/config.status
mconfig/config.sub
mconfig/configure
mconfig/depcomp
mconfig/install-sh
mconfig/libtool
mconfig/ltmain.sh
mconfig/mconfig-1.0.pc
mconfig/mconfig/.deps/
mconfig/mconfig/.libs/
mconfig/mconfig/Makefile
mconfig/mconfig/Makefile.in
mconfig/mconfig/mconfig_pargen.cpp
mconfig/mconfig/mconfig_pargen.h
mconfig/mconfig/varlist_pargen.cpp
mconfig/mconfig/varlist_pargen.h
mconfig/missing
moment-ffmpeg/INSTALL
moment-ffmpeg/Makefile
moment-ffmpeg/Makefile.in
moment-ffmpeg/aclocal.m4
moment-ffmpeg/autom4te.cache/
moment-ffmpeg/compile
moment-ffmpeg/config.guess
moment-ffmpeg/config.log
moment-ffmpeg/config.status
moment-ffmpeg/config.sub
moment-ffmpeg/configure
moment-ffmpeg/depcomp
moment-ffmpeg/install-sh
moment-ffmpeg/iostat/libiostat.so
moment-ffmpeg/iostat/librdstats_light.a
moment-ffmpeg/iostat/libsyscom.a
moment-ffmpeg/libtool
moment-ffmpeg/ltmain.sh
moment-ffmpeg/missing
moment-ffmpeg/moment-ffmpeg-1.0.pc
moment-ffmpeg/moment-ffmpeg/.deps/
moment-ffmpeg/moment-ffmpeg/.libs/
moment-ffmpeg/moment-ffmpeg/Makefile
moment-ffmpeg/moment-ffmpeg/Makefile.in
moment-hls/INSTALL
moment-hls/Makefile
moment-hls/Makefile.in
moment-hls/aclocal.m4
moment-hls/autom4te.cache/
moment-hls/compile
moment-hls/config.guess
moment-hls/config.log
moment-hls/config.status
moment-hls/config.sub
moment-hls/configure
moment-hls/depcomp
moment-hls/install-sh
moment-hls/libtool
moment-hls/ltmain.sh
moment-hls/missing
moment-hls/moment-hls/.deps/
moment-hls/moment-hls/.libs/
moment-hls/moment-hls/Makefile
moment-hls/moment-hls/Makefile.in
moment/INSTALL
moment/Makefile
moment/Makefile.in
moment/aclocal.m4
moment/autom4te.cache/
moment/compile
moment/config.guess
moment/config.log
moment/config.status
moment/config.sub
moment/configure
moment/depcomp
moment/install-sh
moment/libmoment-1.0.pc
moment/libtool
moment/local_config.h
moment/local_config.h.in
moment/local_config.h.in~
moment/ltmain.sh
moment/missing
moment/moment/.deps/
moment/moment/.libs/
moment/moment/Makefile
moment/moment/Makefile.in
moment/moment/libmoment_config.h
moment/moment/moment
moment/moment/rtmptool
moment/moment/stamp-h2
moment/stamp-h1
moment/web/Makefile
moment/web/Makefile.in
moment/web/myplayer/Makefile
moment/web/myplayer/Makefile.in
pargen/INSTALL
pargen/Makefile
pargen/Makefile.in
pargen/aclocal.m4
pargen/autom4te.cache/
pargen/compile
pargen/config.guess
pargen/config.log
pargen/config.status
pargen/config.sub
pargen/configure
pargen/depcomp
pargen/install-sh
pargen/libtool
pargen/ltmain.sh
pargen/missing
pargen/pargen-1.0.pc
pargen/pargen/.deps/
pargen/pargen/.libs/
pargen/pargen/Makefile
pargen/pargen/Makefile.in
pargen/pargen/pargen
scruffy/INSTALL
scruffy/Makefile
scruffy/Makefile.in
scruffy/aclocal.m4
scruffy/autom4te.cache/
scruffy/compile
scruffy/config.guess
scruffy/config.log
scruffy/config.status
scruffy/config.sub
scruffy/configure
scruffy/depcomp
scruffy/install-sh
scruffy/libtool
scruffy/ltmain.sh
scruffy/missing
scruffy/scruffy-1.0.pc
scruffy/scruffy/.deps/
scruffy/scruffy/.libs/
scruffy/scruffy/Makefile
scruffy/scruffy/Makefile.in
scruffy/scruffy/cpp_cond_pargen.cpp
scruffy/scruffy/cpp_cond_pargen.h
scruffy/scruffy/cpp_pargen.cpp
scruffy/scruffy/cpp_pargen.h
